fastapi==0.115.12
uvicorn==0.34.3
SQLAlchemy==2.0.41
aiosqlite==0.21.0
psycopg==3.2.9
pydantic==2.11.5
pydantic-settings==2.9.1
python-dotenv
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
pypdf==5.6.0
openpyxl==3.1.5
httpx==0.28.1
tenacity==9.1.2
redis==6.2.0
email-validator==2.2.0
alembic==1.16.1
transformers==4.48.3
tensorflow==2.18.1
tf-keras==2.18.0
